@(message: String)

@main("Application Home") {

<header>
    <h1>Application Home</h1>
</header>


<ul>
    <li><a href="@routes.Application.index" >Latest Posted Data</a></li>
    <li>Data Update endpoint is : <pre>/api/v1/data</pre></li>
</ul>

<ul>
    <li><a href="@routes.Application.index" >Audio Player</a></li>
</ul>




}
